* {
  Text-align: Center
}
.PersonWithComment{
	Width: 100 px;
}
header{
	background-color: #FF00FF;
}
body{
	margin-left: 2.5%;
	margin-right:2.5%;
	margin-top:0;
	width: 95%;
	font-family: 'Open Sans', sans-serif;
}
article header{
color:blue;
  font-size: 26px;
}
article:nth-child(2n){
  background-color: #FFAAAA;
}
article:nth-child(2n+1){
  background-color: #CCFFCC;
}
header{
  font-size: 30px;
}