#team > section > a {
    width: 170px;
    height: auto;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 15px;
    display: inline-block;
    vertical-align: text-top;
    text-decoration: none;
}

#team > div > div {
    width: 280px;
    margin-right: 20px;
    margin-left: 20px;
    height: auto;
    margin-bottom: 15px;
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
}

#team > section {
    display: inline-block;
}

.PersonWithComment {
	width: 170px;
    height: auto;
    text-align: center;
    padding-bottom: 15px;
    background-color: white;
}

.PersonWithComment:hover {
    background-color: #9fb9d1;
}

.PersonWithComment:hover .job {
   color: #394046;
}

.PersonWithComment img {
    width: 100%; // Bild soll genau so breit wie div sein
    filter: grayscale(50%);
    -webkit-filter: grayscale(50%);
}

.PersonWithComment img:hover {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
}

.clicker {
	float: left;
    display: inline-block;
	margin: 25px;
    font-size: 14px;
    font-weight: bold;
    padding-top: 6px;
    padding-bottom: 6px;
    color: #394046;
    padding-left: 10px;
    padding-right: 10px;
}

.clicker > img {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 200px;
    max-height: 200px;
}

.numbers {
	font-size: 64px;
	color: #BBBBBB;
	margin-bottom: 15px;
}

.PicturesWithComment > div > img {
    max-height: 116;
    margin-top: 20px;
    margin-bottom: 20px;
}

body {
	margin: 0;
	font-family: 'Ubuntu', sans-serif;
    text-align: center;
}

article {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #f5faff;
}

article:nth-child(2n) {
    background-color: #ebf5ff;
    /* background-image: url(img/BG2.png); */
}

header {
    font-size: 26px;
    font-weight: bold;
    color: #374857;
    margin-bottom: 50px;
}

section {
    /*max-width: 1000px;
    margin-left: auto;
    margin-right: auto;*/
    padding-bottom: 20px;
}

.center-left {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
}

.center {
    display: inline-block; // Wird als Text betrachtet und Text ist bei uns immer zentriert
    margin: auto;
}

/* Manche Browser fügen bei ul automatisch ein Padding ein (warum auch immer) */
ul, li
{
    padding: 0;
    margin: 0;
}

.reverse {
    color: #ffffff;
    background-color: #333333;
    padding: 10px;
}

.name {
    font-size: 14px;
    font-weight: bold;
    padding-top: 6px;
    padding-bottom: 6px;
    color: #394046;
    padding-left: 10px;
    padding-right: 10px;
}

.job {
    font-size: 12px;
    color: #999999;
    padding-left: 10px;
    padding-right: 10px;
}

footer {
    background-color: #374857;
    color: #c5ced6;
}

.subjects {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #4a6275;
}

.hochschulLogo {
    height: 100px;
    line-height: 100px;
    display: inline-block;
    margin: 20px;
    width: 200px;
}

.hochschulLogo img {
    max-width: 200px;
    max-height: 100px;
    filter: grayscale(50%);
    -webkit-filter: grayscale(50%);
    vertical-align: middle;
    
}

.hochschulLogo img:hover {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
}

.textblock {
    display: inline-block;
    padding: 15px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 520px;
    color: #ffffff;
}

.textblock-top {
    background-color: #95AEC0;
}

.textblock-bottom {
    background-color: #b1cde0;
}

